.side-menu {
  position: fixed;
  top: 0;
  left: -250px;
 
  height: 100%;
  background: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease-in-out;
  z-index: 1050;
  padding: 1rem;
}

.side-menu.open {
  left: 0;
}

@media (min-width: 992px) {
  .side-menu {
    display: none;
  }
}
